@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist);
  --font-serif: var(--font-instrument-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.hero-bg-mask {
  mask-image: linear-gradient(-45deg, black 30%, transparent 70%);
  -webkit-mask-image: linear-gradient(-45deg, black 30%, transparent 70%);
}

.container {
  /* max-width: 100%; */
  @apply px-8 md:px-16;
}